* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#innersidebar ul li {
    color: #fff;
    list-style: none;
    padding: 30px 10px;
}

#innersidebar {
    margin-top: 0rem;
    /* position: fixed; */
    /* width: 100px; */
    background: #036b1d;
}

#innersidebar ul li:hover {
    cursor: pointer;
    color: rgb(48, 46, 46);
    background-color: #cecece;
}