* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#mainsidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #036b1d;
}

#mainsidebar ul li {
    /* color: #fff; */
    color: white;
    list-style: none;
    padding: 30px 10px;
    border-bottom: 1px solid rgba(120, 90, 100, 11);

}

.dropdown {
    height: 30px;
}

/* #mainsidebar ul li:hover {
    cursor: pointer;
    color: rgb(48, 46, 46);
    background-color: #cecece;
} */



#mainsidebar ul li:first-child {
    border-top: 1px solid rgba(120, 90, 100, 11);

}